<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>

  <Application name="Biser Test" browser="OpenQA.Selenium.Chrome.ChromeDriver, WebDriver" url="https://biser-test.herokuapp.com">
    <Page name="Registration" type="TopTalWebTests.RegistrationPage, TopTalWebTests"></Page>
    <Page name="Login" type="TopTalWebTests.LoginPage, TopTalWebTests"></Page>
    <Page name="Configuration" type="TopTalWebTests.ConfigurationPage, TopTalWebTests"></Page>
  </Application>





</configuration>