<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="Application" type="TopTal.SeleniumPageAutomation.Configuration.ApplicationObjectConfiguration, TopTal.SeleniumPageAutomation"/>
  </configSections>
  
  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>

  <Application name="Biser Test" browser="OpenQA.Selenium.Chrome.ChromeDriver, WebDriver" url="https://biser-test.herokuapp.com">
    <Page name="Registration" type="TopTalWebTests.RegistrationPage, TopTalWebTests">
      <Elements>
        <Element name="registracija" by="Href" value="/users/sign_up"/>
        <Element name="mail" by="Id" value="user_email" />
        <Element name="password" by="Id" value="user_password" />
        <Element name="confirmPassword" by="Id" value="user_password_confirmation" />
        <Element name="company" by="Id" value="user_company_name" />
        <Element name="oib" by="Id" value="user_oib" />
        <Element name="btnRegister" by="XPath" value="//*[@id='new_user']/fieldset[2]/div/input" />
        <Element name="btnLogout" by="XPath" value="//*[@id='header']/div/div[7]/a[1]/span/span" />
        <Element name="errMsg1" by="XPath" value="//*[@id='error_explanation']/ul/li[1]" />
        <Element name="errMsg2" by="XPath" value="//*[@id='error_explanation']/ul/li[2]" />
        <Element name="errMsg3" by="XPath" value="//*[@id='error_explanation']/ul/li[3]" />
        <Element name="errMsg4" by="XPath" value="//*[@id='error_explanation']/ul/li[4]" />
        <Element name="errMsg" by="XPath" value="//*[@id='error_explanation']/ul/li" />
        <Element name="linkLogin" by="Href" value="/users/sign_in" />
        <Element name="linkForgotPasword" by="Href" value="/users/password/new" />
        <Element name="validationForgotPass" by="XPath" value="//*[@id='header']/h2" />
        <Element name="validationLogin" by="XPath" value="//*[@id='header']/h1" />
      </Elements>
    </Page>
    <Page name="Login" type="TopTalWebTests.LoginPage, TopTalWebTests"></Page>
    <Page name="Configuration" type="TopTalWebTests.ConfigurationPage, TopTalWebTests"></Page>
  </Application>
</configuration>